include ../btn/btn.pug

mixin cta-home
	section.cta-home
		span.section__content
			span.wrapper
				p.text.top: em: strong Unique builds
				p.sr-only Because one size doesn't fit all.
				p.cta-heading(aria-hidden="true") Because
					//- Leave these extra | gives space between words
					|
					|
					span.highlight one size
					span.stripe
						span
						span doesn't
					| fit all
				p.text.bottom: em Let us make your business shine with a custom built website
				+btn({icon: {class: 'arrow right', side: 'right'}, type: 'a'}).cta(
					href="/quote/"
				) Get a quote
			//- img(src=require('./cta-home-background.svg'))
