button.btn,
a.btn {
	--text-color: hsl(var(--main-background-color));
	--shadow-start: 1px 3px 10px -4px hsl(var(--base-h), 20%, 10%);
	--shadow-hover: 0 0 4px -2px;

	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 0.5em;
	padding: 1.6rem;
	background: hsl(var(--main-text-color));
	color: var(--text-color);
	border-radius: var(--input_border_radius);
	box-shadow: var(--shadow-start);
	border: none;
	font-weight: 600;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	isolation: isolate;
	cursor: pointer;

	&::before {
		--hover-mask-color: hsl(var(--base), 50%, 0.6);
		position: absolute;
		z-index: -1;
		content: "";
		transform: translateY(-100%);
		width: 120%;
		height: 150%;
		background: var(--hover-mask-color);
		mask-image: url("../images/background-curve.svg");
		mask-position: bottom center;
		mask-size: 100% 100%;
		transition: transform 0.5s ease-in-out;
	}

	&.cta {
		--text-color: hsl(var(--base), 0%);
		background: hsl(var(--highlight), 50%);

		&:hover {
			background: hsl(var(--highlight), 50%);
		}
		&::before {
			--hover-mask-color: hsl(var(--base), 42%);
		}
	}

	&.secondary {
		--text-color: hsl(var(--main-text-color));
		border: var(--input_border);
		border-color: hsl(var(--base), 42%);
		background: hsl(var(--main-background-color));
		box-shadow: var(--shadow-start);

		&:hover {
			background: hsl(var(--main-text-color), 0.05);
			box-shadow: var(--shadow-hover);
		}
	}

	&:hover {
		background: hsl(var(--main-text-color), 0.8);
		box-shadow: var(--shadow-hover);

		&::before {
			// height: 100%;
			transform: translateY(0%) scale(1.5);
			transition: transform 0.5s ease-in-out;
		}
	}

	&:active {
		background: hsl(var(--base), 42%);
	}

	&.mini {
		padding: var(--input_padding) 1.6rem;
	}

	& .icon {
		background-color: var(--text-color);
	}

	&.disabled {
		pointer-events: none;
		cursor: default;
		background: hsl(var(--base), 0%, 0.6);
	}

	@media (min-width: $medium) {
		&:not(.full-width) {
			max-width: max-content;
		}
	}
}

button.icon-only__btn {
	appearance: none;
	border: none;
	background: transparent;
}
