.articles__wrapper {
	display: grid;
	gap: 3.2rem;

	@media (min-width: $small) {
		grid-template-columns: 1fr 1fr;
	}

	@media (min-width: $medium) {
		grid-template-columns: repeat(3, 1fr);
	}

	.article__card {
		display: grid;
		grid-template-rows: max-content max-content auto;
		padding: 3.2rem;
		text-decoration: none;
		color: hsl(var(--dark));
		box-shadow: 0 0 10px -4px hsl(var(--dark), 0.4);
		border-radius: 2rem;
		transition: box-shadow 0.5s ease;

		&:hover {
			box-shadow: 0 0 16px -4px hsl(var(--dark), 0.6);
			transition: box-shadow 0.5s ease;
		}

		&:active {
			box-shadow: 0 0 2px -4px hsl(var(--dark), 0.6);
			transition: box-shadow 0.25s ease;
		}

		img {
			width: 100%;
			aspect-ratio: 4/3;
			object-fit: cover;
			border-radius: 1.6rem;
		}

		.title {
			font-weight: 600;
		}
	}
}
