body.article {
	overflow-x: hidden;
}

.article {
	position: relative;

	&__header {
		display: grid;
		gap: 1.6rem;
		text-align: center;
		padding-block: 3.2rem;
		justify-content: center;

		h1 {
			font-weight: 400;
		}

		date {
			color: hsl(var(--main-text-color), 0.7);
		}

		.hero_img {
			width: 60vw;
			height: 40vw;
			margin: auto;

			img {
				object-fit: cover;
			}
		}
	}

	// Content List
	.article-content-list {
		--transform-initial: translate(-65%, 125%);

		ul {
			list-style: none;

			a {
				color: hsl(var(--card-text-color));

				font-weight: 600;
				text-decoration-color: hsl(var(--base), 42%);
				text-decoration-thickness: 0.2rem;
			}
		}
	}

	.article-content {
		display: grid;
		row-gap: 2.4rem;
	}

	.bonus-tip {
		background: hsl(var(--base-h), 20%, 90%);
		padding: 1.6rem;
		border-radius: 0.8rem;
		box-shadow: 0px 2px 10px -7px hsl(var(--base), 0%);
	}

	section {
		position: relative;
		isolation: isolate;

		&:nth-child(even) {
			&::before {
				mask-position: left calc(100% - 3.2rem);
			}
		}

		&:nth-child(7n - 6):not(:last-of-type) {
			$image: "nature-1.svg";
			&::before {
				mask-image: url("Images/abstracts/#{$image}");
			}
		}
		&:nth-child(7n - 5):not(:last-of-type) {
			$image: "nature-2.svg";
			&::before {
				mask-image: url("Images/abstracts/#{$image}");
			}
		}

		&:nth-child(7n - 4):not(:last-of-type) {
			$image: "nature-3.svg";
			&::before {
				mask-image: url("Images/abstracts/#{$image}");
			}
		}

		&:nth-child(7n - 3):not(:last-of-type) {
			$image: "nature-4.svg";
			&::before {
				mask-image: url("Images/abstracts/#{$image}");
			}
		}

		&:nth-child(7n - 2):not(:last-of-type) {
			$image: "nature-5.svg";
			&::before {
				mask-image: url("Images/abstracts/#{$image}");
			}
		}

		&:nth-child(7n - 1):not(:last-of-type) {
			$image: "nature-6.svg";
			&::before {
				mask-image: url("Images/abstracts/#{$image}");
			}
		}

		&:nth-child(7n):not(:last-of-type) {
			$image: "nature-7.svg";
			&::before {
				mask-image: url("Images/abstracts/#{$image}");
			}
		}
	}

	section::before:not(.share-bar) {
		position: absolute;
		content: "";
		inset: 0;
		// mix-blend-mode: overlay;
		mask-position: right calc(100% - 3.2rem);
		mask-repeat: no-repeat;
		mask-size: 20rem 20rem;
		background: hsl(var(--base-h), 50%, 50%);
		opacity: 0.25;
		z-index: -1;
	}

	.section-title {
		display: flex;
		align-items: center;
		gap: 0.8rem;
		position: relative;
		max-width: max-content;
		font-weight: 500;

		& .icon {
			background-color: hsl(var(--main-text-color), 0.5);
		}

		&::before {
			--transition: opacity 0.15s ease-in-out;
			position: absolute;
			content: "copied";
			top: -5%;
			left: 105%;
			font-size: 1.4rem;
			font-weight: 400;
			opacity: 0;
			transition: var(--transition);
			background: hsl(var(--highlight), 80%);
			padding: 0.2rem 0.4rem;
			border-radius: 0.4rem;
			box-shadow: 0 0 4px -2px;
		}

		&.copied::before {
			opacity: 1;
			transition: var(--transition);
		}
	}
}

main.article {
	row-gap: unset;
}

@media (min-width: $small) {
	.article {
		&__header {
			.hero_img {
				width: 50vw;
				height: 35vw;
				max-height: 40rem;
				max-width: 60rem;
			}
		}
	}
}

@media (min-width: $medium) {
	.article {
		--page_width: 600px;

		section {
			padding: 3.2rem;
			.section__content {
				max-width: var(--page_width);
			}
		}
	}

	main.article {
		row-gap: 3.2rem;
	}
}
