.article {
	margin-top: -7vw;

	.article__section {
		max-width: 850px;
		margin: auto;
		padding-block: 0;
	}

	.hero_img {
		display: grid;
		img {
			// max-height: 65vh;
			object-fit: cover;
		}
	}

	ul {
		line-height: 1.5;
		h2 {
			font-size: 1.8rem;
			a {
				text-decoration: none;
				    color: hsl(var(--dark));
    font-weight: 600;
			}
		}
	}

	.tags .content,
	.categories .content {
		display: flex;
		gap: 0.8rem;
		& p {
			padding: 0 0.8rem;
			border-radius: 0.8rem;
			background: hsl(var(--highlight), 0.6);
		}
	}

	.categories .content p {
		background: hsl(var(--highlight), 0.3);
	}

	.article-content {
		display: grid;
		row-gap: 2.4rem;
	}

	.title__wrapper {
		line-height: 1.2;
		.last_updated {
			font-size: 1.6rem;
			color: hsl(var(--dark), 0.6);
		}
	}
	// figure {
	// 	picture {
	// 		display: grid;
	// 		height: 100%;
	// 	}
	// 	img {
	// 		width: 100%;
	// 		max-width: 100%;
	// 		// height: auto;
	// 		object-fit: contain;
	// 	}
	// }
}
