.article {
	position: relative;

	.header {
		row-gap: 0.8rem;
		& .content {
			display: grid;
			grid-template-rows: max-content auto;
		}
		& .title__wrapper {
			display: grid;
			grid-template-rows: auto max-content;
			row-gap: 1.6rem;

			& .title {
				align-self: center;
				font-size: 5.6rem;
				line-height: 1;
			}
		}

		& .dates {
			font-size: 1.4rem;
			line-height: 1;
			color: hsl(var(--dark), 0.5);

			& p {
				line-height: 1;
			}
		}
	}

	section {
		width: 100%;
		max-width: 850px;
		margin: auto;
		padding-block: 3.2rem;
		background: transparent !important;
	}

	.hero_img {
		display: grid;
		grid-row: 2;
		img {
			// max-height: 65vh;
			object-fit: cover;
		}
	}

	ul {
		line-height: 1.5;
		h2 {
			font-size: 1.8rem;
			a {
				color: hsl(var(--dark));
				font-weight: 600;
				text-decoration-color: hsl(var(--main-color));
				text-decoration-thickness: 0.2rem;
			}
		}
	}

	.article-content {
		display: grid;
		row-gap: 2.4rem;
	}

	.bonus-tip {
		background: hsl(var(--dark), 0.02);
		padding: 1.6rem;
		border-radius: 0.8rem;
		box-shadow: 0px 2px 10px -7px hsl(var(--dark));
	}
}

main.article {
	row-gap: unset;
}

@media (min-width: $medium) {
	.article {
		.header {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 4.8rem auto;
			column-gap: 3.2rem;
			row-gap: 0;
		}

		.hero_img {
			grid-column: 2;
			grid-row: 1/3;
		}

		section {
			padding: 3.2rem;
		}
	}

	main.article {
		row-gap: 3.2rem;
	}
}
