.home {
	main {
		display: grid;
		row-gap: 3.2rem;
	}

	section {
		display: grid;

		&.textCenter {
			text-align: center;
		}
	}

	section.center {
		text-align: center;
	}

	section.third {
		ul {
			padding-left: 3.2rem;
		}
	}

	section.next-steps {
		.list {
			display: grid;
			gap: 3.2rem;
		}
	}

	@media (min-width: $small) {
		// section:not(.cta-home) {
		// 	padding: 6.4rem 3.2rem;
		// }

		section.third {
			ul {
				padding-left: 6.4rem;
			}
		}
	}

	@media (min-width: $medium) {
		section.third {
			.subtext {
				max-width: 66%;
			}
		}

		section.next-steps {
			.btn {
				margin-inline: auto;
			}

			.list {
				grid-template-columns: auto auto;
			}
		}
	}
}
