main.not-found {
	align-content: flex-start;
	row-gap: 3.2rem;

	.section__content {
		column-gap: 6.4rem;
	}

	.second {
		position: relative;
	}

	.attribute {
		text-align: end;
		font-size: 1.4rem;
	}

	@media (min-width: $small) {
		.section__content {
			grid-template-columns: 1fr 1fr;
		}
	}
}
