.quote {
	form {
		gap: 3.2rem;
		counter-reset: sections;
		& .countable-label {
			position: relative;
			counter-increment: sections;
			height: max-content;

			& > :first-child {
				text-indent: 4rem;
				line-height: 1.4;
			}

			&::before {
				position: absolute;
				content: counter(sections);
				display: grid;
				align-items: center;
				justify-content: center;
				width: 1.6em;
				height: 1.6em;
				border-radius: 50%;
				color: hsl(var(--highlight), 50%);
				rotate: -15deg;
				font-size: 2.4rem;
				top: -0.25em;
				text-indent: -1rem;
			}
		}
	}

	@media (min-width: $smedium) {
		form {
			// grid-template-columns: 1fr 1fr;
			// grid-auto-rows: max-content;
			max-width: 800px;
			width: 100%;
			margin: auto;
		}

		label {
			grid-auto-rows: max-content;
		}
	}
}
