.showcase-item__wrapper {
	display: grid;
	grid-template-rows: max-content max-content auto;
	// padding: 3.2rem;
	text-decoration: none;
	color: hsl(var(--dark));
	box-shadow: 0 0 10px -4px hsl(var(--dark), 0.4);
	border-radius: 2rem;
	overflow: hidden;
	transition: box-shadow 0.5s ease;

	p {
		line-height: 1;
	}

	.content__wrapper {
		display: grid;
	}

	.footer {
		display: grid;
		row-gap: 0.8rem;
		padding: 3.2rem;
		.features {
			line-height: 1.2;
			font-size: 1.6rem;
			color: hsl(var(--dark), 0.7);

			&__title {
				font-weight: 600;
			}
		}
	}

	.type {
		font-size: 2.4rem;
	}

	.name {
		font-size: 1.6rem;
		color: hsl(var(--dark), 0.6);
	}

	.icon__wrapper {
		display: grid;
		align-self: center;
		justify-content: center;
		align-items: center;
		padding: 1.6rem;
		background: hsl(var(--dark));
		border-radius: 50%;

		.icon {
			background-color: hsl(var(--light));
		}
	}

	.img__wrapper {
		position: relative;
		display: grid;
		justify-items: center;
		align-items: center;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			z-index: 1;
			background-color: hsl(var(--dark), 0.4);
			transition: background-color 0.25s ease-in-out;
		}

		&::after {
			position: absolute;
			grid-row: 1;
			grid-column: 1;
			content: attr(data-label);
			color: hsl(var(--light));
			background: hsl(var(--highlight));
			padding: 0.8rem 1.6rem;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 2;
			transition: margin 0.25s ease-in-out;
			border-radius: 10rem;
		}

		figure {
			grid-row: 1;
			grid-column: 1;
			width: 100%;
			picture {
				display: grid;
			}
		}
		img {
			aspect-ratio: 1;
			width: 100%;
			height: auto;
			object-fit: cover;
			object-position: left top;
			filter: grayscale(0.5);
			transition: filter 0.25s ease-in-out;
		}

		&:hover {
			img {
				filter: grayscale(0);
				transition: filter 0.25s ease-in-out;
			}

			&::before {
				background-color: hsl(var(--dark), 0);
				transition: background-color 0.25s ease-in-out;
			}

			&::after {
				margin-top: 100%;
				transition: margin 0.25s ease-in-out;
			}
		}
	}
}
