.showcase-item__wrapper {
	position: relative;
	display: grid;
	grid-template-rows: max-content max-content auto;
	text-decoration: none;
	background: hsl(var(--card-background-color));
	color: hsl(var(--card-text-color));
	box-shadow: var(--card-box-shadow);
	border-radius: 2rem;
	overflow: hidden;
	transition: box-shadow 0.5s ease;

	p {
		line-height: 1;
	}

	.content__wrapper {
		display: grid;
	}

	.footer {
		--padding: 3.2rem;
		display: grid;
		row-gap: 0.8rem;
		padding-inline: var(--padding);
		padding-block: calc(var(--padding) / 2) var(--padding);

		.name {
			font-weight: 600;
			font-size: 2.4rem;
			color: hsl(var(--card-text-color));
		}

		.features {
			line-height: 1.2;
			font-size: 1.6rem;
			color: hsl(var(--card-text-color));
		}
	}

	.type {
		font-size: 2.4rem;
	}

	a {
		text-decoration: unset;
		&::before {
			position: absolute;
			inset: 0;
			content: "";
			z-index: 1;
		}
	}

	.icon__wrapper {
		display: grid;
		align-self: center;
		justify-content: center;
		align-items: center;
		padding: 1.6rem;
		background: hsl(var(--base));
		border-radius: 50%;

		.icon {
			background-color: hsl(var(--base), 100%);
		}
	}

	.img__wrapper {
		position: relative;
		display: grid;
		justify-items: center;
		align-items: center;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			z-index: 1;
			background-color: hsl(var(--base), 5%, 0.4);
			transition: background-color 0.25s ease-in-out;
		}

		&::after {
			position: absolute;
			grid-row: 1;
			grid-column: 1;
			content: attr(data-label);
			color: hsl(var(--base), 100%);
			background: hsl(var(--base), 42%);
			padding: 0.8rem 1.6rem;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 2;
			transition: margin 0.25s ease-in-out;
			border-radius: 10rem;
		}

		img {
			aspect-ratio: 1;
			width: 100%;
			height: auto;
			object-fit: cover;
			object-position: left top;
			filter: grayscale(0.5);
			transition: filter 0.25s ease-in-out;
		}
	}
	&:hover {
		img {
			filter: grayscale(0);
			transition: filter 0.25s ease-in-out;
		}

		& .img__wrapper::before {
			background-color: hsl(var(--base), 0%, 0);
			transition: background-color 0.25s ease-in-out;
		}

		& .img__wrapper::after {
			margin-top: 100%;
			transition: margin 0.25s ease-in-out;
			background: hsl(var(--highlight), 50%);
		}
	}
}
