include ../btn/btn.pug
include ../image-w-placeholder/image-w-placeholder.pug

mixin showcase-item({image, title, description, link})
  span.showcase-item__wrapper 
    span.image__wrapper 
      +image-w-placeholder(image)
    span.content__wrapper
      p.title #{title}
      p.description 
        block 
      +btn({icon: {class: 'external-link', side: 'left'}})(href= link, target="_blank" class="mini") View website