extends ../mixins/page_layout.pug
include ../components/article-schema-json.pug

block phpScripts
	<?php include_once('./load_article.php') ?>

block variables
	- var mainClass = "<?= $article ? 'article' : 'no-article' ?>";
	- var title = "<?= $article ? htmlspecialchars($article->title) : 'Whoops!' ?>";
	- var page_description = "";
	- var slug = "/showcase";
	//- - var page_image = require("../images/contact-order-online-small-medium-business-website.jpg");
	- var page_image_alt = "";

block content
	<?php if ($article !== null) :?>
		<?php $date = new DateTime($article->updated_at); ?>

		+article-schema-json
		span.hero_img
			img(
				src!="<?= htmlspecialchars($img_url) . 'medium/' . htmlspecialchars($article->hero_img_filename) ?>.jpg"
			)
		section.article__section
			span.section__content
				span.title__wrapper
					span.title
						h1!= "<?= htmlspecialchars($article->title)?>"
					span.last_updated Last updated
						!= " <?= $date->format('jS F Y') ?>"
				//- span#summary 
				//- span.tags
				//- 	span#content.content!= "<?= $article->tags?>"
				//- span.categories
				//- 	span.content!= "<?= $article->categories?>"
				span#content.article-content!= "<?= $article->content?>"
				span#published_at
	<?php else : ?>
	section
		span.section__content
			span
				h1 Whoops
				p The article you were looking for doesn't seem to exist
	<?php endif ?>
