extends ../mixins/page_layout.pug

block variables
	- var title = "Confirmation";

block content
	section
		span.section__content
			h1 Success!
			p Your form has been submitted. We'll be in contact soon!
