extends ../mixins/page_layout.pug
include ../components/contact_form/contact_form.pug
include ../components/mock-chat/mock-chat.pug

block variables
  - var title = 'Contact'
  - var page_description = 'Contact us now for a fast, easy website creation for your business. SEO and accessibility focused, your customers will love your new website'
  - var slug = '/contact'
  - var page_image = require('../images/contact-order-online-small-medium-business-website.jpg')
  - var page_image_alt = 'Laptop open, on screen is a small business website for interior design, blogging, articles'

block content
  section
    span.contact-form__wrapper
      h1 Let's connect 
      +contact_form
    +mock-chat