extends ../mixins/page_layout.pug
include ../components/contact_form/contact_form.pug
include ../components/mock-chat/mock-chat.pug

block variables
  - var title = 'Contact'
  - var page_description = 'Contact us now for a fast, easy website for your business. SEO and accessibility focused, your customers will love your new website'
  - var slug = '/contact'
  - var page_image = require('../images/amdesigned-business-websites-australia-get-online.png')
  - var page_image_alt = 'Large computer monitor sitting behind smaller open laptop, both screens showing web sites. Text overlay reads: "Let\'s build something special together. AMDesigned for all your business website needs"'

block scripts
  <?php session_start() ?>

block content
  section
    span.section__content
      span.contact-form__wrapper
        h1 Let's connect 
        +contact_form
      +mock-chat