extends ../mixins/page_layout.pug
include ../components/cta-home/cta-home.pug
include ../components/build-options/build-options.pug
include ../components/big-list-item/big-list-item.pug

block variables
	- var title = "Home";
	- var page_description = "Fast, easy custom websites for businesses. SEO and accessibility focused, your customers will love your new website";
	- var slug = "/";
	- var page_image = require("../images/amdesigned-business-websites-australia-get-online.png");
	- var page_image_alt = 'Large computer monitor sitting behind smaller open laptop, both screens showing web sites. Text overlay reads: "Let\'s build something special together. AMDesigned for all your business website needs"';
block content
	+cta-home

	section.folds.section_decoration
		.section__content
			h2 What we do
			span
				p We focus on making fast, light-weight and easy to use websites, accessible to as many people as possible. This focus on usability, accessibility and sustainability results in websites which are: a joy to visit, more likely to rank higher in search engines and are super fast to load and use. Exactly what every site, and every user, needs.

	section.next-steps
		.section__content
			h2 Next steps
			span.list
				+big-list-item({marker: '1'})
					p Get in touch! We tailor-make every webiste package to suit your business, so click the button below and tell us a little about your business, customers and purpose of the website.
					+btn({icon: {class: "arrow right", side: 'right'}}).mini.cta(
						href="/contact?package=custom"
					) Send us a message

				+big-list-item({marker: '2'}): p Based on your message we'll get in touch and send you a quick questionnaire to learn more about you, your business and what your ideas are for your website. We find this to be the most efficient way of gathering information. It gives you the time to consider what you really want and put it down in writing.

				+big-list-item({marker: '3'}): p We'll build a couple of package proposals for your choosing, giving you a good range of options so we can truly deliver the best bang for your buck.

				+big-list-item({marker: '4'}): p Once we have everything we need, and we're all on the same page for what glorious site we're going to build, you get to sit back, put your feet up and relax. We'll get to work doing what we do best -- building an awesome experience!
	section.section_decoration
		.section__content
			h2 Meet us
			p Want to know more about AMDesigned?
				|
				|
				a.link(href="/articles/our-approach", rel="bookmark") Check out the blog post "Our Approach"
				|
				| to learn more about what we do and why. We passionate about making the web a better place, and would love for you to join the ride.

	section.section_decoration
		.section__content
			h2 Our customers
			p At AMDesigned we're proud of what we've achieved for our customers. Each one is unique, and so are their sites. As a company we are always researching, testing and improving what works. Because of this new customers benefit from the latest best practices and those who sign up for ongoing maintenance are also able to benefit from these improvements.
				|
				|
				a.link(href="/showcase/", rel="bookmark") Check out our customers websites
				|
				| to see just some of what we can offer.
	section.section_decoration.folds
		.section__content
			h2 Articles
			p We love to share. That's why we write articles about web development for business, usually with a focus on accessibility, sustainability and usability. We would prefer more people build websites that are more accessible, and better for users and, as much as possible, better for the environment as a whole, even if it's not us who do the building. So if you'd like to learn more about improving web development
				|
				|
				a.link(href="/articles/", rel="bookmark") head over to our articles page
				|
				| and have a read.
