extends ../mixins/page_layout.pug
include ../mixins/coming-soon.pug
include ../components/showcase-item/showcase-item.pug

block variables
	- var title = "Showcase";
		- var page_description = "Showcase of super fast, stylish websites created by AMDesigned for businesses. Contact us now to secure yours and wow your customers!";
	- var slug = "/showcase";
	- var page_image = require("../images/contact-order-online-small-medium-business-website.jpg");
	- var page_image_alt = "Laptop open, on screen is a small business website for interior design, blogging, articles";

block content
	section.showcase__section
		span.section__content
			span
				h1 Showcase!
				p A small selection of works from AMDesigned
			span.showcase-items__wrapper
				+showcase-item({type: 'E-Commerce', name: 'Walkers Creek', link: 'https://walkerscreek.com.au', features: 'Stripe payments, product backend control, contact form, SEO', icon: 'hand-holding-dollar', img: 'walkers-creek-australian-canvas-bag-manufacturer.jpg', img_alt: 'Snapshot of custom built business website, Walkers Creek'})

				+showcase-item({ type: 'Booking', name: 'Jennys Haidressing', link: 'https://www.jennys.amdesigned.com.au', features: 'Booking form, booking management system, SEO, analytics', icon: 'scissors', img: 'jennys-hairdressing-awesome-hair-dye.jpg', img_alt: 'Snapshot of custom small business website, hairdressing'})

				+showcase-item({type:'Informational', name: 'Bright Eyes Electrical', features: 'SEO, analytics, contact form, design', link: 'https://bright-eyes-electrical.amdesigned.com.au', icon: 'lightbulb regular', img: 'bright-eyes-electrical-lightbulb-electrician.jpg', img_alt: 'Snapshot of custom built website for business electrician'})

				+showcase-item({type:'Service', name: 'Yogamania', features: 'SEO, analytics, single-page design', link: '/showcase/yoga', icon: 'lightbulb regular', img: 'yoga-twisty.jpg', img_alt: 'Snapshot of custom built website for yoga business'})

				+showcase-item({type:'Informational', name: 'Morpheus AI', features: 'Accessibility, single page design, fast', link: '/showcase/tech', icon: 'lightbulb regular', img: 'tech-v-reality.jpg', img_alt: 'Snapshot of custom built website for business electrician'})

				//- +showcase-item({type:'Service', name: 'Beach Bean Cafe', features: 'SEO, analytics, contact form, design', link: 'https://bright-ideas-electrical.amdesigned.com.au', icon: 'mug-saucer'})
