include ../btn/btn.pug

mixin build-options
	section.build-options
		span.section__content
			h2 Build options
			p.subtext Get to know our general website packages. But because we know no two businesses are alike every website package is tailor-made to your needs.

			.options__wrapper
				span.option
					p.title Just the basics
					ul(role="list")
						li.included Design
						li.included Build
						li Hosting
						li Domain purchase
						li SEO & Accessibility
						li Analytics set up
					p.price: em Starting at $850AUD
					+btn({ icon: {class: 'arrow right', side: 'right'}}).full-width.secondary(
						href="/contact?package=Just the basics&type=low"
					)
						| Sign me up!

				span.option.hero
					p.title Let's split it
					ul(role="list")
						li.included Design
						li.included Build
						li Hosting
						li Domain purchase
						li.included SEO & Accessibility
						li.included Analytics set up
					p.price: em Starting at $1150AUD
					+btn({icon: {class: 'arrow right', side: 'right'}}).full-width(
						href="/contact?package=Let's Split It&type=mid"
					)
						| This is me

				span.option
					p.title We'll do it all
					ul(role="list")
						li.included Design
						li.included Build
						li.included Hosting
						li.included Domain purchase
						li.included SEO & Accessibility
						li.included Analytics set up
					p.price: em Starting at $2150AUD
					+btn({ icon: {class: 'arrow right', side: 'right'}}).full-width.secondary(
						href="/contact?package=Please do it all&type=high"
					)
						| Just what I want

			p.note
				strong Note:
				|
				| AMDesigned custom builds each and every website. This results in blazing fast, user-friendly websites that everyone loves. It also means if any updates to the website are wanted later on it's best that a web development professional do them. Luckily we offer great rates for these update!
