mixin article-schema-json
	script(type="application/ld+json").
		{
			"@content": "https://schema.org",
			"@type": "BlogPosting",
			"@id": "https://www.amdesigned.com.au/article/<?= $article->slug ?>#content",
			"mainEntityOfPage": "https://www.amdesigned.com.au/article/<?= $article->slug ?>#content",
			"headline": "<?= $article->title ?>",
			"name": "<?= $article->title ?>"
			"description": "<?= $article->summary ?>",
			"datePublished": "<?= $article->created_at ?>",
			"dateModified": "<?= $article->updated_at ?>",
			"author": {
				"@type": "Person",
				"name": "Amelia Margaurite",
				"url": "https://www.linkedin.com/in/amelia-margaurite-150456201/"
			},
			"image": {
				"@type": "ImageObject",
				"@id": "https://www.access.amdesigned.com.au/storage/gallery/small/<?= $article->hero_img_filename ?>.jpg",
				"url": "https://www.access.amdesigned.com.au/storage/gallery/small/<?= $article->hero_img_filename ?>.jpg",
			}
			"url": "https://www.amdesigned.com.au/article/<?= $article->slug ?>",

		}