mixin fb-chat-plugin    
    
  //- Messenger Chat plugin Code
  div(id="fb-root")

  //- Your Chat plugin code
  div(id="fb-customer-chat", class="fb-customerchat")
  script(src=require('./fb-chat-plugin.ts'))

  