footer {
	--text-color: hsl(var(--primary));

	display: flex;
	justify-content: space-between;
	padding: var(--page_padding);
	color: hsl(var(--text-color));
	background: hsl(var(--main-color), 0.5);

	ul {
		line-height: 1.5;
		padding: 0;
		li {
			display: grid; // allows a's padding to move items
			list-style: none;

			a {
				--a-padding: 1.2rem;
				position: relative;
				font-size: 1.6rem;
				text-transform: uppercase;
				font-weight: 600;
				text-decoration: none;
				color: var(--text-color);
				padding-block: var(--a-padding);
				width: max-content;

				&:after {
					position: absolute;
					content: "";
					height: 0.2em;
					width: 100%;
					left: 0;
					bottom: var(--a-padding);
				}

				&.current:after {
					background: hsl(var(--highlight));
				}

				&:not(.active):hover {
					&:after {
						background: hsl(var(--light));
					}
				}
			}
		}
	}
}
