section.section_decoration {
	padding-block: 6.4rem !important;
	// padding-inline: 3.2rem;
}

.diagonal {
	--skew-angle: 1deg;
	--skew: skewY(var(--skew-angle));
	--background: hsl(var(--main-color), 0.5);
	--padding: calc(var(--height) * 2);
	background: unset !important;

	padding-block: var(--padding);
	position: relative;
	isolation: isolate;

	&::before {
		position: absolute;
		z-index: -1;
		content: "";
		background: var(--background);
		inset: 0;
		transform: var(--skew);
	}
}

.line {
	position: relative;
	background: hsl(var(--main-color), 0.5);

	&::after {
		position: absolute;
		content: "";
		width: 100%;
		background: red;
		mask-image: url("../images/line-path.svg");
	}
}

.chevron-both {
	--background: hsl(var(--main-color), 0.5);
	--height: 3.2rem;
	--padding: calc(var(--height) * 2);

	padding-block: var(--padding);
	position: relative;
	background: var(--background);

	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: var(--height);
		background: var(--body-bg);
		background-repeat: 3;
		mask-image: url("../images/svg-path.svg");
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
		transform: rotate(0.5turn);
	}
}

.chevron-top {
	--background: hsl(var(--main-color), 0.3);
	--height: 3.2rem;
	--padding: calc(var(--height) * 2);

	padding-block: var(--padding);
	position: relative;
	background: var(--background);

	&::before {
		position: absolute;
		content: "";
		top: 0;
		width: 100%;
		height: var(--height);
		background: var(--body-bg);
		background-repeat: 3;
		mask-image: url("../images/svg-path.svg");
	}
}

.chevron-bottom {
	--background: hsl(var(--main-color), 0.3);
	--height: 3.2rem;
	--padding: calc(var(--height) * 2);

	padding-block: var(--padding);
	position: relative;
	// background: hsl(var(--dark));
	background: var(--background);

	&::after {
		position: absolute;
		content: "";
		bottom: 0;
		width: 100%;
		height: var(--height);
		background: var(--body-bg);
		background-repeat: 3;
		mask-image: url("../images/svg-path.svg");
		transform: rotate(0.5turn);
	}
}

.chevrons-down {
	--background: hsl(var(--main-color), 0.3);
	--height: 3.2rem;
	--padding: calc(var(--height) * 2);

	padding-block: var(--padding);
	position: relative;
	background: var(--background);

	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: var(--height);
		background-repeat: 3;
		mask-image: url("../images/svg-path.svg");
		mask-size: 100vw var(--height); // needed for firefox
	}

	&::before {
		top: 0;
		background: var(--body-bg);
	}

	&::after {
		bottom: calc(var(--height) * -1);
		background: var(--background);
		z-index: 1;
		// transform: rotate(0.5turn);
	}
}

.chevron-down {
	--background: hsl(var(--main-color), 0.3);
	--height: 3.2rem;
	--padding: calc(var(--height) * 2);

	position: relative;
	// background: hsl(var(--dark));
	background: var(--background);

	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: var(--height);
		background-repeat: 3;
		mask-image: url("../images/svg-path.svg");
	}

	&::after {
		bottom: calc(var(--height) * -1);
		background: var(--background);
		z-index: 1;
	}
}

.spikes {
	--background: hsl(var(--main-color), 0.3);
	--height: 3.2rem;
	--padding: calc(var(--height) * 2);

	padding-block: var(--padding) !important;
	position: relative;
	background: var(--background);

	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: var(--height);
		background: var(--body-bg);
		background-repeat: 3;
		mask-image: url("../images/svg-path.svg");
		mask-size: 2rem var(--height);
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
		transform: rotate(0.5turn);
	}
}

.folds {
	--background: hsl(var(--main-color), 0.5);
	--height: 3.2rem;
	--padding: calc(var(--height) * 2);

	padding-block: var(--padding);
	position: relative;
	background: var(--background);

	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: var(--height);
		background: var(--body-bg);
		background-repeat: 3;
		mask-image: url("../images/svg-path.svg");
		mask-size: 120vw var(--height);
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
		transform: rotate(0.5turn);
	}

	&.opposite {
		&::before,
		&::after {
			mask-size: -120vw var(--height);
		}
	}
}

.bell {
	--background: hsl(var(--main-color), 0.3);
	--height: 3rem;

	position: relative;
	background: var(--background);

	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: var(--height);
		background-repeat: 3;
		background: var(--body-bg);

		mask-image: url("../images/svg-path-2.svg");
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
		transform: rotate(0.5turn);
	}
}
