.basics.yoga {
	.about__section {
		.split-view__left {
			margin-block: auto;

			& .wrapper {
				position: relative;

				&::before {
					position: absolute;
					content: "";
					width: 100%;
					height: 4rem;
					bottom: -3.2rem;
					background: radial-gradient(
						hsl(var(--base), 20%),
						hsl(var(--base), 30%, 0.5),
						transparent,
						transparent,
						transparent
					);
				}
			}
		}
		.image-w-placeholder.drip {
			border-radius: 0 50% 50% 50%;
			rotate: 45deg;
			align-items: center;
			justify-content: center;
			aspect-ratio: 1;
			width: 75%; // as this is rotated, corners overflow page
			margin: auto;
			margin-top: 4.8rem;

			picture {
				display: block;
			}
			figure,
			.placeholder-image {
				rotate: -45deg;
				width: 100%;
				height: 150%;
				img {
					object-fit: cover;
				}
			}
		}
	}
}
